# Database Configuration
DB_HOST=localhost
DB_NAME=commuter
DB_USER=postgres
DB_PASS=postgres


CMRL_APP_URL=https://example.url
CMRL_PARKING_URL=https://example.urlagain

# OSRM Configuration
OSRM_URL=http://localhost:5050
